*{
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
body{
  background-image: url("bananas.png");
}
h1,h2,h3{
  text-align:center;
}
#container{
  margin: 0 auto;
  width: 75%;
  background-color: white;
  padding: 30px;
}
table{
  border: 2px solid black;
}
#descriptiontable{
  display: block;
  position: static;
  float: right;
}
