*{
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
body{
  background-image: url("bananas.png");
}
h1,h2,h3{
  text-align: center;
}
#title{
  display:inline-block;
}
header{
  background-color: white;
  position:fixed;
  top:0px;
  right:0px;
  width:100%;
}
nav{
  float:right;
}
a.nav{
  text-decoration: none;
  background-color: white;
  color: black !important;
  padding:15px;
  position: static;
  transition: background 0.5s, color 0.5s;
}
a.nav:hover{
  background-color:yellow;
  color:white !important;
}
#container{
  margin: 0 auto;
  width: 75%;
  background-color: white;
  padding: 30px;
}
table,tr,td{
  border: 2px solid black;
  margin: 5px;
  border-collapse:collapse;
}
#descriptiontable{
  display: block;
  position: static;
  float: right;
}
article{
  font-size: 20px;
}
