*{
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}
body{
  background-image: url("bananas.png");
}
main{
  width: 75%;
  margin: 0 auto;
  background-color: white;
}
table{
  border: 2px solid black;
}
#descriptiontable{
  float:right;
}
